body {
    background-color: rgb(52, 50, 50);
}

#meme {
    position: absolute;
    top: 7vh;
    left: 2.5vw;
    width: 95vw;
    height: 50vh;
    transition: opacity 2s;
}

#morebtn {
    position: absolute;
    height: 7vh;
    width: 149px;
    top: 75vh;
    right: 31vw;
}